@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@400;500;700&display=swap");
/* -------------------------------------------------------------------------------------------------- */
/* Plantilla de colores */
:root {
  --color-fire: #ff7402;
  --color-grass: #9bcc50;
  --color-steel: #9eb7b8;
  --color-water: #4592c4;
  --color-psychic: #f366b9;
  --color-ground: #dac0a3;
  --color-ice: #00d2fc;
  --color-flying: #b39cd0;
  --color-ghost: #4d5b64;
  --color-normal: #a4acaf;
  --color-poison: #7e0058;
  --color-rock: #a38c21;
  --color-fighting: #d56723;
  --color-dark: #707070;
  --color-bug: #729f3f;
  --color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  --color-electric: #f9f871;
  --color-fairy: #fdb9e9;
  --color-shadow: #7b62a3;
  --color-unknow: #757575;

  --color-primary: #006d77;
  --color-primary-hover: #83c5be;

  --color-text: #fff;
}
/* -------------------------------------------------------------------------------------------------- */
/* estilos globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}
/* -------------------------------------------------------------------------------------------------- */
/* navbar */
.navbar__init {
  position: fixed;
  top: 0;
  left: 0;
  right: 10px;
  height: 70px;
  border-bottom: 1px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0 2rem;
  color: white;
}
.navbar__iconLogo {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__logo {
  height: 60px;
  cursor: pointer;
  transition: .3s;
}
.navbar__logo:active{
  transform: scale(1.1);
}
.navbar__iconMenu {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  padding: .3rem;
  border: 1px solid transparent;
  transition: .3s;
}
.navbar__iconMenu:hover{
  border: 1px solid #fff;
  background: white;
  color: black;
}
.navbar__formList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.navbar__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.navbar__item {
  cursor: pointer;
}
.navbar__link {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.navbar__link:hover {
  background: teal;
}
.navbar__input {
  width: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 100vh;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 40px;
  background-image: url(https://cdn.pixabay.com/photo/2013/10/01/16/55/magnifying-glass-189254_1280.png);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
    rgba(0, 0, 0, 0.1) 10px 10px 10px,
    rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
    rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
.navbar__input:focus {
  width: 300px;
  cursor: initial;
  background-position-x: 10px;
}
.input__movil__position {
  display: none;
}
/* -------------------------------------------------------------------------------------------------- */
/* HomePage */
.navbar__switchHomePage {
  float: left;
  position: fixed;
  padding: 1rem;
}
.home__init {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.modal button {
  border-radius: 100vh;
  background: #12486b;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px #d2e0fb, 0 0 20px #d2e0fb, 0 0 20px #d2e0fb;
}
.modal button:hover {
  background: #419197;
  box-shadow: 0 0 10px #5cd2e6, 0 0 20px #5cd2e6, 0 0 20px #5cd2e6;
}
.inputModal {
  display: none;
}
.inputModal:checked ~ .modal button {
  display: none;
}
.home__content {
  text-align: center;
}
.home__input {
  /* width: 100%; */
  padding: 0.5rem 0.5rem;
  border-radius: 100vh;
  outline: none;
  border: none;
  background: #efefef;
  margin: 0.5rem 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/601px-Pokebola-pokeball-png-0.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  padding-left: 40px;
  box-shadow: 0 0 10px #5cd2e6, 0 0 20px #5cd2e6, 0 0 20px #5cd2e6;
}
.home__button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0 100vh 100vh 0;
  border-radius: 100vh;
  border: none;
  background: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* -------------------------------------------------------------------------------------------------- */
.menu__movil {
  display: none;
}
.navbar__panel__movil{
  display: none;
}
/* -------------------------------------------------------------------------------------------------- */
/* panel lateral desplegable */
.checkPanel {
  display: none;
}
.header__panel {
  width: 250px;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: -250px;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
.checkPanel:checked ~ .header__panel {
  left: 0;
}
.header__content {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.header__panel::-webkit-scrollbar {
  width: 5px;
}
.header__panel::-webkit-scrollbar-thumb {
  background: #a6f6ff;
  border-radius: 10px;
}
/* -------------------------------------------------------------------------------------------------- */
/* menu acordeon */
.menuDropdown {
  display: none;
}
.panel__container {
  width: 100%;
  margin: 1rem auto;
}
.label__title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #9c9494;
  transition: all 8000ms ease;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
}
.label__title:hover {
  box-shadow: 0 0 10px rgba(175, 165, 165, 0.68);
}
.content__items {
  list-style: none;
}
.content__list {
  margin: 0.2rem;
  background: red;
}
.menuDropdown:checked ~ .label__title .icon i::before {
  content: "\f107";
}
/* -------------------------------------------------------------------------------------------------- */
/* switch */
.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.switch__icon {
  font-size: 1.5rem;
}
.switch__acordion {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
/* -------------------------------------------------------------------------------------------------- */
/* estilos de las cards de todos los pokemones */
.card__namePokemon {
  text-align: center;
}
.card__types {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}
.card__types__styles {
  width: 60px;
  padding: 2px 0;
  text-align: center;
  border-radius: 3px;
  margin: 0.2rem 0;
  /* font-size: 0.7rem; */
}
.card__list__stats {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.6rem;
}
.card__stat__name {
  display: block;
  text-align: center;
  font-size: 0.8rem;
}
.card__card__stat {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}
/* -------------------------------------------------------------------------------------------------- */
/* Types of Pokemon */
.water {
  color: white;
  background-color: var(--color-water);
}
.grass {
  color: white;
  background-color: var(--color-grass);
}
.poison {
  color: white;
  background-color: var(--color-poison);
}
.fire {
  color: white;
  background-color: var(--color-fire);
}
.bug {
  color: white;
  background-color: var(--color-bug);
}
.dragon {
  color: white;
  background: var(--color-dragon);
}
.flying {
  color: white;
  background-color: var(--color-flying);
}
.ground {
  color: white;
  background-color: var(--color-ground);
}
.steel {
  color: white;
  background-color: var(--color-steel);
}
.psychic {
  background-color: var(--color-psychic);
}
.ice {
  color: white;
  background-color: var(--color-ice);
}
.ghost {
  color: white;
  background-color: var(--color-ghost);
}
.normal {
  color: white;
  background-color: var(--color-normal);
}
.rock {
  color: white;
  background-color: var(--color-rock);
}
.electric {
  color: black;
  background-color: var(--color-electric);
}
.fighting {
  color: white;
  background-color: var(--color-fighting);
}
.fairy {
  background-color: var(--color-fairy);
}
.dark {
  color: white;
  background-color: var(--color-dark);
}
/* -------------------------------------------------------------------------------------------------- */
/* .progresbar__stat{
  width: 500px;
  height: 30px;
  margin: 1rem 0;
  background: blue;
} */
/* -------------------------------------------------------------------------------------------------- */
/* pagination */
.pagination__general {
  margin: 3rem 0;
}

/* -------------------------------------------------------------------------------------------------- */
/* app responsiva */
@media (max-width: 1343px) {
  .welcome {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    max-width: 90%;
    display: block;
    margin: 0 auto;
    transition: 0.6s;
    margin-top: 6rem;
  }
  .welcome__content {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 5rem;
    color: #213555;
    text-shadow: 2px 2px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards__global {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    max-width: 90%;
    transition: all 700ms ease;
    margin: 1.5rem auto;
  }
  .header__panel {
    width: 250px;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: -250px;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  }
  .checkPanel:checked ~ .header__panel {
    left: 0;
  }

  .menu__pc {
    display: none;
  }
  .menu__movil {
    display: block;
  }
}
/* -------------------------------------------------------------------------------------------------- */
/* movil */
@media (max-width: 900px) {
  .navbar__list {
    display: none;
  }
  .navbar__panel__movil{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 600px) {
  .welcome {
    margin-top: 1rem;
  }
  .welcome__content {
    font-size: 1rem;
  }
  .navbar__form {
    display: none;
  }
  .navbar__init {
    display: none;
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #fff;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 2rem;
    color: white;
  }
  .navbar__iconLogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .input__movil__position {
    display: block;
    margin-top: 5rem;
    margin-inline: 2rem;
  }
  .input__movil {
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 100vh;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 50px;
    background-image: url(https://cdn.pixabay.com/photo/2013/10/01/16/55/magnifying-glass-189254_1280.png);
    background-position-x: 15px;
    background-position-y: center;
    background-size: 25px;
    background-repeat: no-repeat;
    box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
      rgba(0, 0, 0, 0.1) 10px 10px 10px,
      rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
      rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
  }
}

/* -------------------------------------------------------------------------------------------------- */
/* para pantallas de 15pulg hacia adelante*/
@media (min-width: 1344px) {
  .welcome {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    max-width: 90%;
    display: block;
    margin: 0 auto;
    transition: 0.6s;
    margin-top: 6rem;
  }
  .welcome__content {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 5rem;
    color: #213555;
    text-shadow: 2px 2px 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkPanel:checked ~ .welcome {
    transition: 0.6s;
    max-width: 85%;
    display: block;
    padding-left: 250px;
  }
  .cards__global {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    max-width: 90%;
    transition: all 700ms ease;
    margin: 1.5rem auto;
  }
  .checkPanel:checked ~ .cards__global {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    max-width: 85%;
    padding-left: 250px;
  }
}
/* -------------------------------------------------------------------------------------------------- */
